#cloud-config

coreos:
  etcd:
    discovery: $coreos_discovery_token
    addr: $private_ipv4:4001
    peer-addr: $private_ipv4:7001
  etcd2:
    discovery: $coreos_discovery_token
    advertise-client-urls: http://$private_ipv4:2379,http://$private_ipv4:4001
    initial-advertise-peer-urls: http://$private_ipv4:2380
    listen-client-urls: http://0.0.0.0:2379,http://0.0.0.0:4001
    listen-peer-urls: http://$private_ipv4:2380,http://$private_ipv4:7001
  units:
    - name: etcd.service
      command: start

    - name: fleet.service
      command: start

    - name: format-xvdb.service
      command: start
      content: |
        [Unit]
        Description=Formats the EBS drive
        After=dev-xvdb.device
        Requires=dev-xvdb.device

        [Service]
        Type=oneshot
        RemainAfterExit=yes
        ExecStart=/usr/sbin/wipefs -f /dev/xvdb
        ExecStart=/usr/sbin/mkfs.ext4 -f /dev/xvdb

    - name: media-ebs.mount
      command: start
      content: |
        [Unit]
        After=format-xvdb.service

        [Mount]
        What=/dev/xvdb
        Where=/media/ebs
        Type=ext4

    - name: flanneld.service
      command: start
      drop-ins:
        - name: 50-network-config.conf
          content: |
            [Service]
            ExecStartPre=/usr/bin/etcdctl set /coreos.com/network/config '{ "Network": "10.1.0.0/16" }'
