#cloud-config

coreos:
  etcd2:
    discovery: $coreos_discovery_token
    advertise-client-urls: http://$private_ipv4:2379,http://$private_ipv4:4001
    initial-advertise-peer-urls: http://$private_ipv4:2380
    listen-client-urls: http://0.0.0.0:2379,http://0.0.0.0:4001
    listen-peer-urls: http://$private_ipv4:2380,http://$private_ipv4:7001
  units:
    - name: etcd2.service
      command: start
    - name: fleet.service
      command: start
    - name: media-ebs.mount
      command: start
      content: |
        [Mount]
        What=/dev/xvdb
        Where=/media/ebs
        Type=ext4
