region: us-east-1
cloud_config: config/cloud-config.example
key_pair: YOUR-KEY
instances_count: 1
instance_type: c4.2xlarge
allocate_ip_address: no

volumes:
  -
    device_name: /dev/xvdb
    ebs:
        volume_size: 100
        volume_type: gp2
        delete_on_termination: yes

  -
    device_name: /dev/xvde
    virtual_name: ephemeral0

security_groups:
  -
    name: spark
    action: find_or_create
    allow_inbound:
      -
        protocol: tcp
        from_port: 8080
        to_port: 8080
        ip: 0.0.0.0/0
      -
        protocol: tcp
        from_port: 4040
        to_port: 4040
        ip: 0.0.0.0/0
  -
    name: $cluster_name
    action: create
    allow_all_own_traffic: true
    allow_ssh_from: 0.0.0.0/0
