region: us-east-1
cloud_config: config/cloud-config.example
key_pair: YOUR-KEY
instances_count: 1
coreos_channel: stable
coreos_version: current
instance_type: c4.2xlarge
allocate_ip_address: no

block_device_mappings:
  -
    DeviceName: /dev/xvdb
    Ebs:
      VolumeSize: 100
      VolumeType: gp2
      DeleteOnTermination: True

  -
    DeviceName: /dev/xvde
    VirtualName: ephemeral0

security_groups:
  -
    name: spark
    action: find_or_create
    authorize_ingress:
      -
        IpProtocol: tcp
        FromPort: 8080
        ToPort: 8080
        CidrIp: 0.0.0.0/0
      -
        IpProtocol: tcp
        FromPort: 4040
        ToPort: 4040
        CidrIp: 0.0.0.0/0

  -
    name: $cluster_name
    action: create
    authorize_ingress:
      -
        SourceSecurityGroupName: $cluster_name
      -
        IpProtocol: tcp
        FromPort: 22
        ToPort: 22
        CidrIp: 0.0.0.0/0